// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue_zero: #263248;
$blue_one: #7E8AA2;
$blue_two: #DFEBFF;
$white: #FFFFFF;
$orange: #FF530D;
$grey_zero: #C8C8C8;
$red: #B31D14;

 #map-canvas { 
  height: 100%; 
  width:100%; 
  position:absolute;
  z-index:0
  }
.panel-primary {
border-color: #428bca;
position: absolute;
right: 0px;
top: 53px;
z-index: 1;
width: 45%;
}
   

